form{
    width:30%;
    background-color :rgb(168, 9, 168); 
    border: thick inset;
    border-color: purple;
    border-radius: 10px;
    margin: 50px auto;
    padding: 5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
.input-group{
    margin: 10px 0px 10px 0px;
}
.input-group label{
    display: block;
    text-align:left;
    margin: 3px;
}
.input-group input{
    height:30px;
    width: 93%;
    padding: 5px 10;
    border-radius: 5px;
    border: 1px solid lightpink;
}
.submit{
    margin: 3px;
    text-align: center;
}
.submit input{
    color: purple;
    border: thick solid rgb(230, 107, 230);
}

.wel{
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
.span{
    color: purple;
    font-size: 40px;
    font-family: serif;
}
.forgot{
    color:rgb(184, 173, 247);
    text-align: right;
}
.side-nav ul{
list-style-type: none;
margin:0;
padding:0;
/* background-color: rgb(236, 132, 236); */
height: 100%;
/* width: 20%; */
position: fixed;
overflow: auto;
}
/* li{
    text-decoration: none; */

.side-nav li a{
    display: block;
    /* width: 200px; */
    text-decoration: none;
    /* height: 40px; */
    /* text-align: center; */
    padding: 8px 16px;
    color: white;
}
li a:hover{
    background-color: rgb(241, 179, 241);
    width: 200px;
    color: #555;
}
li a:active{
    background-color: rgb(253, 194, 234);
}
.main{
    margin:10px 10px 10px 200px; 
    height:1000px;
    /* width:x; */
    /* padding:1px 16px;  */
     background-color:white; 
    border-style: solid rgb(236, 177, 236); 
    border-radius:20px;
}
.home{
    /* border-style: solid; */
    /* border-radius: 20px; */
    /* margin:100px 800px 800px 100px; */
    background-color: white;
    /* box-shadow */
    max-width: 1400px;
    height: 600px;
    margin: 100px 50px 100px 40px;
    overflow: auto;
    
}
div .card-name{
    margin-top:10px;
    margin-bottom: 30px;
    background-color: rgb(114, 24, 114);
    border-radius: 80px 30px;
    text-align: center;
    color: white;
}
div .hero-image{
    background-image: url(todo_2.png);
    background-size: cover;
    background-repeat: no repeat center;
    height: 500px;
}
table{
    width:50%;
    color:brown;
    border:1px solid;
    border-collapse: collapse;
    margin-left:200px ;
}

th{
    height:70px;
    border:1px solid;
    vertical-align: top;
    padding:10px;
    border-bottom: 1px solid green;
}
td{
    border:1px solid;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid green;
}
tr:nth-child(even){background-color: purple;
}